$white: #fff;
$black: #000;
$primary-color: #4f64f1;
$primary-light: #7B8BF2;
$text-gradient-light: #37caf9;
$text-gradient-dark: #0e6cfb;
$card-gradient-light: #222c54;
$card-gradient-dark: #1b2546;
$circle-color: #6F94DB;
$background-color: #071131;