@use '../abstracts/' as *;

.hero {
    background-color: $background-color;
    width: 100%;

    &__content {
        text-align: center;
    }

    &__description {
        margin-inline: auto;
    }
}