@use '../abstracts/' as *;

.gradient-text {
    background-image: linear-gradient(45deg, $text-gradient-light, $text-gradient-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.gradient-background {
    background-image: linear-gradient(-45deg, $card-gradient-light 0%, $card-gradient-dark 30%, $card-gradient-dark 70%, $card-gradient-light 100%);
}