@use '../abstracts/' as *;

.layout {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 4rem;
    
    &--column {
        flex-direction: column !important;
        gap: 4rem !important;
    }

    &--cards {
        gap: 1.25rem;
    }

    @include breakpoint(large) {
        flex-direction: row;
        gap: 1.25rem;
    }
}